.wrapper {
  background-color: #2c3d4f;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  .logo {
    outline: none;
    display: flex;
    img {
      width: 100px;
      height: auto;
      outline: none;
    }
  }

  .burgerMenu {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .actionsDiv {
    display: none;
    .webtokenSelection {
      .webselectionText {
      }
      .webassetActiveDiv {
      }
      .webassetDiv {
        .webicon {
          img {
          }
        }
        .webiconInfo {
          .webname {
          }
          .webinfo {
          }
        }
      }
      .weblearnText {
      }
    }
  }
  .weblearnText {
    display: none;
  }
}

//Connect Wallet Styling
.connectModal {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  .connectOption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 20px 0;
    // border-bottom: 1px solid #212121;
    .provider {
      display: flex;
      align-items: center;
      column-gap: 10px;
      .image {
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .name {
        font-weight: 500;
      }
    }
    .button {
      color: white;
      background-color: #212121;
      border: 1px solid transparent;
      border-radius: 5px;
      height: 40px;
      width: 150px;
      font-size: 14px;
      outline: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 0;
    width: 20%;
    height: 100vh;
    min-height: 798.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .logo {
      outline: none;
      padding: 20px;
      img {
        width: 150px;
        height: auto;
        outline: none;
      }
    }

    .burgerMenu {
      display: none;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .actionsDiv {
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 40px;
      .connect {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 88%;
        height: 40px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #23fccf;
        .walletIcon {
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .text {
          font-size: 14px;
          color: white;
        }
      }

      .connectButton {
        position: relative;
        color: white;
        width: 88%;
        height: 40px;
        line-height: 40px;
        transition: all 0.3s;
        cursor: pointer;
        span {
          transition: all 0.3s;
          tranform: scale(1, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          .walletIcon {
            z-index: 10;
            margin-right: 10px;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .text {
            z-index: 10;
            font-size: 14px;
            color: white;
          }
        }
      }

      .connectButton::before,
      .connectButton::after {
        content: "";
        position: absolute;
        transition: all 0.3s;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 5px;
      }

      .btnOne::before {
        left: 4px;
        z-index: 1;
        opacity: 0;
        background: #23fccf;
        transform: scale(0.1, 1);
      }

      .btnOne:hover::before {
        opacity: 1;
        transform: scale(1, 1);
      }

      .btnOne::after {
        transition: all 0.3s;
        border: 1px solid #23fccf;
      }

      .btnOne:hover::after {
        transform: scale(1, 0.1);
        opacity: 0;
      }

      .webtokenSelection {
        width: 100%;
        .webselectionText {
          font-weight: normal;
          font-size: 14px;
          text-align: left;
          color: #fff;
          padding: 0 20px;
          margin-bottom: 20px;
        }
        .webassetActiveDiv {
          border-bottom: 2px solid transparent !important;
          background-color: #2a6469;
        }
        .webassetDiv:last-child {
          border-bottom: 2px solid transparent;
        }
        .webassetDiv {
          cursor: pointer;
          // border:1px solid #5C6977;
          border-bottom: 2px solid #5c6977;
          padding: 20px 30px;
          display: flex;
          flex-direction: row;
          column-gap: 10px;
          flex-wrap: nowrap;
          .webicon {
            width: 30px;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .webiconInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .webname {
              font-weight: 500;
              font-size: 15px;
              letter-spacing: 0em;
              text-align: left;
              color: #fff;
            }
            .webinfo {
              font-weight: 500;
              font-size: 12px;
              letter-spacing: 0em;
              text-align: left;
              color: #747f8b;
            }
          }
        }
      }
    }
    .weblearnText {
      position: absolute;
      padding: inherit;
      bottom: 40px;
      display: flex;
      font-weight: 600;
      text-decoration: underline;
      font-size: 14px;
      text-align: center;
      color: #fff;
      flex-direction: column;
      align-items: center;
      a {
        margin-bottom: 20px;
      }
      .toggleIcons {
        display: flex;
        flex-direction: row;
        align-items: center;
        .light {
          margin-right: 15px;
          cursor: pointer;
        }
        .dark {
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

// @media only screen and (min-width: 2560px) {
//   .wrapper {
//     background-color: #191919;
//     width: 20%;
//     height: 100vh;
//     min-height: 798.4px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;
//     padding: 60px 20px;
//     position: relative;

//     .logo {
//       outline: none;
//       img {
//         width: 300px;
//         height: auto;
//         outline: none;
//       }
//     }

//     .burgerMenu {
//       display: none;
//       img {
//         max-width: 100%;
//         height: auto;
//       }
//     }
//     .actionsDiv {
//       margin-top: 30px;
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       row-gap: 100px;
//       .connect {
//         cursor: pointer;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         column-gap: 10px;
//         width: 100%;
//         height: 80px;
//         border-radius: 5px;
//         background-color: #1A1A1A;
//         border: 1px solid #10867A;

//         .walletIcon {
//           img {
//             width: 50px;
//             height: auto
//           }
//         }
//         .text {
//           font-size: 30px;
//           color: white;
//         }
//       }
//       .webtokenSelection {
//         width: 100%;
//         .webselectionText {
//           font-weight: normal;
//           font-size: 30px;
//           text-align: left;
//           color: #5c5c5c;
//           margin-bottom: 20px;
//         }
//         .webassetActiveDiv {
//           background: #101010;
//           border-radius: 5px;
//         }
//         .webassetDiv {
//           cursor: pointer;
//           padding: 10px;
//           display: flex;
//           flex-direction: row;
//           column-gap: 10px;
//           flex-wrap: nowrap;
//           margin-bottom: 20px;
//           .webicon {
//             width: 100px;
//             img {
//               max-width: 70px;
//               height: auto;
//             }
//           }
//           .webiconInfo {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             .webname {
//               font-weight: 500;
//               font-size:30px;
//               letter-spacing: 0em;
//               text-align: left;
//               color: #fff;
//             }
//             .webinfo {
//               font-weight: 500;
//               font-size: 25px;
//               letter-spacing: 0em;
//               text-align: left;
//               color: #686868;
//             }
//           }
//         }
//       }
//     }
//     .weblearnText {
//       position: absolute;
//       padding: inherit;
//       bottom: 0;
//       display: flex;
//       font-weight: 600;
//       text-decoration: underline;
//       font-size: 30px;
//       text-align: center;
//       color: #fff;
//     }
//   }
// }

//Connect Wallet Styling
.connectModal {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  .connectOption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 70px;
    padding: 20px 0;
    // border-bottom: 1px solid #212121;
    .provider {
      display: flex;
      align-items: center;
      column-gap: 10px;
      .image {
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .name {
        font-weight: 500;
      }
    }
    .button {
      color: white;
      background-color: #212121;
      border: 1px solid transparent;
      border-radius: 5px;
      height: 40px;
      width: 150px;
      font-size: 14px;
      outline: none;
    }
  }
}
