.wrapper {
  display: flex;
  flex-direction: column;
  .rightWrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: #f3f6ff;
    flex-direction: column;
    row-gap: 20px;
    .topSection {
      width: 100%;
      height: 100%;
      // max-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      .leftSection {
        background-color: #fffffd;
        width: 100%;
        height: 100%;
        min-height: 364.33px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        .flexCol {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .chart {
            height: 200px;
          }
          .flexRow {
            display: flex;
            align-items: center;
            .amount {
              margin-left: 10px;
              font-weight: normal;
              font-size: 35px;
              color: #000;
            }
          }
        }
        .wAssetsWrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 320px;
          .wAssetsDiv {
            // height: 66px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            row-gap: 10px;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            background: #f3f6ff;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            .wAssetsBalance {
              margin: 0;
              display: flex;
              align-items: center;
              font-weight: normal;
              letter-spacing: 0em;
              font-size: 20px;
              text-align: left;
              .grayColor {
                font-size: 16px;
                color: #929399;
              }
            }
            .positiveColor {
              color: #008753;
            }
            .negativeColor {
              color: #e94c48;
            }
            .percentage {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: 20px;
              border-radius: 3px;
              font-weight: normal;
              font-size: 12px;
              text-align: left;
              color: #fff;
            }
            .positive {
              background: #008753;
            }
            .negative {
              background: #e94c48;
            }
            .dafi {
              height: 4px;
              background-color: #24a79a;
            }
            .dBTC {
              height: 4px;
              background-color: #f9a72d;
            }
            .dEther {
              height: 4px;
              background-color: #4c56a8;
            }
            .dUniswap {
              height: 4px;
              background-color: #bf2071;
            }
            .dLINK {
              height: 4px;
              background-color: #2db2dc;
            }
          }
        }
        .createAsset {
          padding: 0 10px;
          height: 45%;
          min-height: 300px;
          width: 100%;
          border-radius: 0 15px;
          background: transparent;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          .heading {
            font-weight: 500;
            font-size: 18px;
            color: #000;
          }
          .inputDiv {
            margin: 30px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            .inputTextDiv {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .inputText {
                font-weight: normal;
                font-size: 14px;
                text-align: left;
                color: #000;
              }
              .tooltip {
                position: relative;
                color: #000;
                display: inline-block;
                img{
                  width: 20px;
                }
              }

              /* Tooltip text */
              .tooltip {
                .tooltiptext {
                  visibility: hidden;
                  width: 120px;
                  font-size: 14px;
                  background-color: rgb(44, 61, 79);
                  color: #fff;
                  text-align: center;
                  padding: 5px 5px;
                  border-radius: 6px;

                  /* Position the tooltip text - see examples below! */
                  position: absolute;
                  z-index: 1;
                }
                .tooltipTop {
                  bottom: 125%;
                  left: 50%;
                  margin-left: -60px;
                }
                .tooltipTop::after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: rgb(44, 61, 79) transparent transparent transparent;
              }
              }

              /* Show the tooltip text when you mouse over the tooltip container */
              .tooltip:hover {
                .tooltiptext {
                  visibility: visible;
                }
              }
            }

            input {
              padding: 10px;
              color: #555555;
              outline: none;
              border-radius: 5px;
              width: 100%;
              height: 40px;
              background: #fff;
              border: 1px solid #cbcbc9;
            }
            .errorMessage {
              color: red;
              font-style: italic;
              font-size: 10px;
              text-align: center;
              margin: 10px;
            }
          }

          .createBtn {
            width: 100%;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: "Lato", sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
            outline: none;
          }
          .btnEffect {
            background-color: #89d8d3;
            background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
            border: none;
            z-index: 1;
          }
          .btnEffect:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 5px;
            background-color: #4dccc6;
            background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
            transition: all 0.3s ease;
          }
          .btnEffect:hover {
            color: #fff;
          }
          .btnEffect:hover:after {
            top: 0;
            height: 100%;
          }
          .btnEffect:active {
            top: 2px;
          }
        }
      }
      .rightSection {
        width: 100%;
        height: 100%;
        background-color: #fffffd;
        border-radius: 10px;
        padding: 10px;
        .connectYourWallet {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        }
        .assetData {
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 20px;
          .asset {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 10px;
            .icon {
              width: 115px;
              height: 115px;
              background: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 100%;
              }
            }
            .nameShortDiv {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .name {
                font-weight: 500;
                font-size: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #000;
              }
              .short {
                font-weight: normal;
                font-size: 12px;
                letter-spacing: 0em;
                text-align: left;
                color: #555555;
              }
              .token {
                font-weight: normal;
                font-size: 12px;
                letter-spacing: 0em;
                text-align: left;
                color: #000;
              }
            }
          }
          .assetInfo {
            width: 100%;
            .keyValueRow {
              padding: 10px;
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .key {
                font-weight: 500;
                font-size: 14px;
                color: #000;
              }
              .value {
                font-weight: 500;
                font-size: 14px;
                color: #000;
              }
              // .priceTextColor {
              //   color: #000;
              // }
              .changeTextColor {
                color: #47e910;
              }
              .dangerTextColor {
                color: red;
              }
              .balanceTextColor {
                color: #e98d12;
              }
              // .valueTextColor {
              //   color: white;
              // }
            }
          }
        }
      }
    }
    .bottomSection {
      padding: 20px;
      height: 45%;
      min-height: 298.08px;
      width: 100%;
      overflow: auto;
      background-color: #fffffd;
      border-radius: 10px;
      .chart {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media only screen and(min-width:1200px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    .rightWrapper {
      width: 80%;
      padding: 20px;
      display: flex;
      background-color: #f3f6ff;
      flex-direction: column;
      row-gap: 20px;
      .topSection {
        width: 100%;
        height: 100%;
        max-height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        row-gap: 20px;
        .leftSection {
          background-color: #fffffd;
          width: 68%;
          height: 100%;
          min-height: 364.33px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          row-gap: 20px;
          padding: 20px;
          .flexCol {
            width: 26%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .chart {
              height: 200px;
            }
            .flexRow {
              display: flex;
              align-items: center;
              .amount {
                margin-left: 10px;
                font-weight: normal;
                font-size: 24px;
                color: #000;
              }
            }
          }
          .wAssetsWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 37%;
            height: 320px;
            .wAssetsDiv {
              // height: 66px;
              padding: 10px;
              display: flex;
              flex-direction: row;
              row-gap: 10px;
              align-items: center;
              justify-content: space-between;
              border-radius: 8px;
              background: #f3f6ff;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
              .wAssetsBalance {
                margin: 0;
                display: flex;
                align-items: center;
                font-weight: normal;
                letter-spacing: 0em;
                font-size: 16px;
                text-align: left;
                .grayColor {
                  font-size: 16px;
                  color: #929399;
                }
              }
              .positiveColor {
                color: #008753;
              }
              .negativeColor {
                color: #e94c48;
              }
              .percentage {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 20px;
                border-radius: 3px;
                font-weight: normal;
                font-size: 12px;
                text-align: left;
                color: #fff;
              }
              .positive {
                background: #008753;
              }
              .negative {
                background: #e94c48;
              }
              .dafi {
                height: 4px;
                background-color: #24a79a;
              }
              .dBTC {
                height: 4px;
                background-color: #f9a72d;
              }
              .dEther {
                height: 4px;
                background-color: #4c56a8;
              }
              .dUniswap {
                height: 4px;
                background-color: #bf2071;
              }
              .dLINK {
                height: 4px;
                background-color: #2db2dc;
              }
            }
          }
          .createAsset {
            padding: 0 10px;
            height: 45%;
            min-height: 300px;
            width: 32%;
            border-radius: 0 15px;
            background: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .heading {
              font-weight: 500;
              font-size: 18px;
              color: #000;
            }
            .inputDiv {
              margin: 30px 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              row-gap: 5px;
              .inputText {
                font-weight: normal;
                font-size: 14px;
                text-align: left;
                color: #000;
              }
              input {
                padding: 10px;
                color: #555555;
                outline: none;
                border-radius: 5px;
                width: 100%;
                height: 40px;
                background: #fff;
                border: 1px solid #cbcbc9;
              }
              .errorMessage {
                color: red;
                font-style: italic;
                font-size: 10px;
                text-align: center;
                margin: 10px;
              }
            }

            .create {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              width: 100%;
              height: 40px;
              color: black;
              background: #00dffe;
            }
          }
        }
        .rightSection {
          width: 30%;
          height: 100%;
          background-color: #fffffd;
          border-radius: 10px;
          padding: 10px;
          .connectYourWallet {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
          }
          .assetData {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;
            .asset {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              row-gap: 10px;
              .icon {
                width: 115px;
                height: 115px;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  width: 100%;
                }
              }
              .nameShortDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .name {
                  font-weight: 500;
                  font-size: 17px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #000;
                }
                .short {
                  font-weight: normal;
                  font-size: 12px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #555555;
                }
                .token {
                  font-weight: normal;
                  font-size: 12px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #000;
                }
              }
            }
            .assetInfo {
              width: 100%;
              .topBorder {
                border-top: 1px solid #262626;
              }
              .bottomBorder {
                border-bottom: 1px solid #262626;
              }
              .keyValueRow {
                padding: 10px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .key {
                  font-weight: 500;
                  font-size: 14px;
                  color: #000;
                }
                .value {
                  font-weight: 500;
                  font-size: 14px;
                  color: #000;
                }
                // .priceTextColor {
                //   color: #000;
                // }
                .changeTextColor {
                  color: #47e910;
                }
                .dangerTextColor {
                  color: red;
                }
                .balanceTextColor {
                  color: #e98d12;
                }
                // .valueTextColor {
                //   color: white;
                // }
              }
            }
          }
        }
      }
      .bottomSection {
        height: 45%;
        min-height: 298.08px;
        width: 100%;
        overflow: auto;
        background-color: #fffffd;
        border-radius: 10px;
        .chart {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
// Custom tooltip

.tooltipContentStyle {
  padding: 5px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #10867a;
  text-align: center;
}
.itemStyle {
  font-size: 12px;
  padding: 3px 5px;
  color: #2ec1b2;
}

.labelStyle {
  text-transform: capitalize;
  color: #2ec1b2;
}

//Modal Styling
.investModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  .assetIcon {
    width: 90px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .inputDiv {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    label {
      width: 100%;
      font-size: 14px;
    }
    input {
      width: 100%;
      min-width: 300px;
      height: 40px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      padding: 10px;
      background-color: #212121;
      column-gap: 10px;
      color: white;
      font-size: 14px;
      outline: none;
      border: 1px solid transparent;
    }
  }
  .errorMessage {
    color: red;
    font-style: italic;
    font-size: 10px;
    text-align: center;
    margin: 10px;
  }
  .usdAmount {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
    color: #6d6d6d;
    span {
      font-weight: 500;
      color: white;
    }
  }
  .trx {
    margin-top: 20px;
    width: 100%;
    max-width: 340px;
    height: 85px;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    .fee {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      .feeText {
        font-size: 12px;
        text-align: right;
        width: 110px;
      }
      .feeDetail {
        display: flex;
        align-items: center;
        column-gap: 20px;
        .feeInNative {
          font-size: 12px;
          text-align: right;
        }
        .feeInUSD {
          font-size: 12px;
          text-align: left;
          color: #5f5f5f;
        }
      }
    }
    .balance {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      .balanceText {
        font-size: 12px;
        text-align: right;
        color: #00d983;
        width: 110px;
      }
      .balanceDetail {
        display: flex;
        align-items: center;
        column-gap: 20px;
        .balanceInNative {
          font-size: 12px;
          text-align: right;
        }
        .balanceInUSD {
          font-size: 12px;
          text-align: left;
          color: #5f5f5f;
        }
      }
    }
  }
  .button {
    margin-top: 20px;
    cursor: pointer;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c7bf6;
    border-radius: 10px;
    .icon {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .text {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
