.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    .headerInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 2;
      .headerHeading {
        font-weight: 300;
        font-size: 25px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
        line-height: 1.5rem;
      }
      .headerText {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        line-height: 30.2px;
        text-align: center;
        color: #717584;
        width: 100%;
        max-width: 440px;
      }

      .headerButton {
        width: 200px;
        height: 40px;
        color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
          7px 7px 20px 0px rgba(0, 0, 0, 0.1),
          4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        outline: none;
      }
      .btnEffect {
        background-color: #89d8d3;
        background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
        border: none;
        z-index: 1;
      }
      .btnEffect:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        transition: all 0.3s ease;
      }
      .btnEffect:hover {
        color: #fff;
      }
      .btnEffect:hover:after {
        top: 0;
        height: 100%;
      }
      .btnEffect:active {
        top: 2px;
      }
    }
    .headerIllustration {
      width: 100%;
      order: 1;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    background-image: url("../../../assets/images/home-header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .header {
      flex-direction: row;
      column-gap: 20px;
      align-items: center;
      justify-content: space-between;
      padding: 20px 50px;
      .headerInfo {
        order: 1;
        align-items: flex-start;
        .headerHeading {
          text-align: left;
          font-size: 40px;
          line-height: 50px;
        }
        .headerText {
          text-align: left;
          max-width: 400px;
        }
        .headerButton {
        }
      }
      .headerIllustration {
        order: 2;
        width: 800px;
        img {
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    .header {
      padding: 20px;
    }
  }
}

// Transitions
.alertEnter {
  opacity: 0;
  transform: scale(0.9);
}
.alertEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alertExit {
  opacity: 1;
}
.alertExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/** fadeInLeft **/

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.inLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-duration: 0.3s;
  animation-delay: 0.3s;
}
