.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      outline: none;
      width: 148px;
      img {
        max-width: 100%;
        height: auto;
        outline: none;
      }
    }

    .burgerMenu {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .mainNavLinks {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 20px 50px;
    .wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        outline: none;
        img {
          max-width: 100%;
          height: auto;
          outline: none;
        }
      }

      .burgerMenu {
        display: none;
        img {
          max-width: 100%;
          height: auto;
        }
      }

      .mainNavLinks {
        display: flex;
        align-items: center;
        column-gap: 20px;
        .navLink {
          cursor: pointer;
          text-transform: uppercase;
          color: #a8afcc;
        }

        .navButton {
          width: 100%;
          height: 40px;
          color: #fff;
          border-radius: 5px;
          padding: 10px 25px;
          font-family: "Lato", sans-serif;
          font-weight: 500;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
            7px 7px 20px 0px rgba(0, 0, 0, 0.1),
            4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          outline: none;
        }
        .btnEffect {
          background-color: #89d8d3;
          background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
          border: none;
          z-index: 1;
        }
        .btnEffect:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: 5px;
          background-color: #4dccc6;
          background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
          transition: all 0.3s ease;
        }
        .btnEffect:hover {
          color: #fff;
        }
        .btnEffect:hover:after {
          top: 0;
          height: 100%;
        }
        .btnEffect:active {
          top: 2px;
        }
      }
    }
  }
}
