.wrapper {
  width: 100%;
  padding: 50px 20px 10px 20px;
  background-color: #1d1f29;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer {
    width: 100%;
    min-height: 300px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .top {
      width: 100%;
      .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 150px;
        .logo {
          margin-bottom: 10px;
          width: 148px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .aboutText {
          width: 100%;
          line-height: 1.5rem;
          font-size: 14px;
          color: #6d727e;
          max-width: 350px;
        }
      }
      .topRight {
        .linksWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 20px;
          margin-right: 80px;
          .linksHeading {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 10px;
          }
          .link {
            margin: 8px 0;
            color: #6d727e;
            cursor: pointer;
          }
        }
        .subscribe {
          display: flex;
          flex-direction: column;

          .subscribeHeading {
            font-size: 18px;
            margin-bottom: 10px;
          }
          .input {
            width: 100%;
            margin-bottom: 10px;
            background-color: #0c0d11;
            max-width: 375px;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 10px;
            color: white;
            font-weight: 300;
          }
          .button {
            width: 100%;
            max-width: 375px;
            height: 40px;
            border: 1px solid transparent;
            outline: none;
            border-radius: 5px;
            background-color: #36cebf;
            color: white;
          }

          .button {
            width: 200px;
            height: 40px;
            color: #fff;
            margin-top: 10px;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: "Lato", sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
            outline: none;
          }
          .btnEffect {
            background-color: #89d8d3;
            background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
            border: none;
            z-index: 1;
          }
          .btnEffect:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 5px;
            background-color: #4dccc6;
            background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
            transition: all 0.3s ease;
          }
          .btnEffect:hover {
            color: #fff;
          }
          .btnEffect:hover:after {
            top: 0;
            height: 100%;
          }
          .btnEffect:active {
            top: 2px;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      .social {
        width: 100%;
        display: flex;
        align-items: center;
        .icon {
          margin: 0 5px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .copyright {
        width: 100%;
        margin: 10px;
        font-size: 14px;
        line-height: 1.5rem;
        font-weight: 300;
        color: #3f465a;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    .footer {
      .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .topRight {
          display: flex;
          align-items: flex-start;
          .linksWrapper {
            margin-right: 100px;
          }
          .subscribe {
            .subscribeHeading {
            }
            .input {
              min-width: 300px;
            }
            .button {
              max-width: 150px;
            }
          }
        }
      }
      .bottom {
        flex-direction: row;
        .social {
          .icon {
            img {
            }
          }
        }
        .copyright {
          text-align: right;
        }
      }
    }
  }
}
