.wrapper {
  width: 100%;
  padding: 50px 20px 10px 20px;
  background-color: #1d1f29;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .footer {
    z-index: 100;
    width: 100%;
    min-height: 300px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .top {
      width: 100%;
      .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 150px;
        .logo {
          margin-bottom: 10px;
          width: 148px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .aboutText {
          width: 100%;
          max-width: 200px;
          line-height: 1.5rem;
          font-size: 14px;
          color: #6d727e;
        }
      }
      .topRight {
        .linksWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 20px;
          margin-right: 80px;
          .linksHeading {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 10px;
          }
          .link {
            margin: 8px 0;
            color: #6d727e;
            cursor: pointer;
          }
        }
        .subscribe {
          display: flex;
          flex-direction: column;

          .subscribeHeading {
            font-size: 18px;
            margin-bottom: 10px;
          }
          .input {
            width: 100%;
            margin-bottom: 10px;
            background-color: #0c0d11;
            max-width: 375px;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 10px;
            color: white;
            font-weight: 300;
          }
          .button {
            width: 100%;
            max-width: 375px;
            height: 40px;
            border: 1px solid transparent;
            outline: none;
            border-radius: 5px;
            background-color: #36cebf;
            color: white;
          }

          .button {
            width: 200px;
            height: 40px;
            color: #fff;
            margin-top: 10px;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: "Lato", sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
            outline: none;
          }
          .btnEffect {
            background-color: #89d8d3;
            background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
            border: none;
            z-index: 1;
          }
          .btnEffect:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 5px;
            background-color: #4dccc6;
            background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
            transition: all 0.3s ease;
          }
          .btnEffect:hover {
            color: #fff;
          }
          .btnEffect:hover:after {
            top: 0;
            height: 100%;
          }
          .btnEffect:active {
            top: 2px;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      .social {
        width: 100%;
        display: flex;
        align-items: center;
        .icon {
          margin: 0 5px;
          img {
            cursor: pointer;
            max-width: 100%;
            height: auto;
          }
        }
      }
      .copyright {
        width: 100%;
        margin: 10px;
        font-size: 14px;
        line-height: 1.5rem;
        font-weight: 300;
        color: #3f465a;
      }
    }
  }
  .circles {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    .footer {
      .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .topRight {
          display: flex;
          align-items: flex-start;
          .linksWrapper {
            margin-right: 100px;
          }
          .subscribe {
            .subscribeHeading {
            }
            .input {
              min-width: 300px;
            }
            .button {
              max-width: 150px;
            }
          }
        }
      }
      .bottom {
        flex-direction: row;
        .social {
          .icon {
            img {
            }
          }
        }
        .copyright {
          text-align: right;
        }
      }
    }
    .area {
      z-index: -100;
      background: #1d1f29;
      background: -webkit-linear-gradient(to left, #1d1f29, #1d1f29);
      width: 100%;
      height: 100%;
    }
    .circles {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      overflow: hidden;
    }
    .circles li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    }
    .circles li:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }
    .circles li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }
    .circles li:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }
    .circles li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }
    .circles li:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }
    .circles li:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }
    .circles li:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }
    .circles li:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }
    .circles li:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }
    .circles li:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }
    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }

      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
  }
}
